

<br>
<br>
<h2>World Countries and Details </h2><br>
  
<br>
  
 <br>



  

  
  <br>
    
  
  
      
  
  <div class="=container">

    <table class="table table-trapped">
        <thead>
            <tr>
                
                <th>Name</th>
                <th>Alpha1</th>
                <th>Alpha2</th>
                <th>Capital</th>
                <th>Region</th>
                <th>Subregion</th>
                <th>Population</th>
                <th>Demonym</th>
                <th>Area</th>
                <th>Gini</th>
                
                
            </tr>
        </thead>

        <tbody>
            <tr *ngFor ="let r of results">
    
                <td>{{r.name}}</td>
                <td>{{r.alpha2Code}}</td>
                <td>{{r.alpha3Code}}</td>
                <td>{{r.capital}}</td>
                <td>{{r.region}}</td>
                <td>{{r.subregion}}</td>
                <td>{{r.population}}</td>
                <td>{{r.demonym}}</td>
                <td>{{r.area}}</td>
                <td>{{r.gini}}</td>
               

                <td><button class ="btn btn-primary" color="warn" style="background-color: #ad37f1;"(click)="getcurrentCountries(r)">get details</button></td>
            </tr>
        </tbody>

    </table>
  </div>
 
